h1{
    box-sizing: border-box;
    text-align: center;
    text-decoration-style: double;
    margin: auto;
    margin-bottom: 1cm;
}
body{
    box-sizing: border-box;
    background-color: cadetblue;
    text-align: center;
}
.b1:hover{
    color: blue;
    background-color: goldenrod;
}
.b1{
    border: 1cm;
    border: green;
}
.main{
    background-color: grey;
    border: blue;
    border-style: double;
}